<meta name="description" content="20130926 Present material">
<meta name="author" content="Donald Zhan">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="/assets/css/reveal.min.css">
<link rel="stylesheet" href="/assets/css/theme/default.css" id="theme">

<!-- For syntax highlighting -->
<link rel="stylesheet" href="/assets/css/zenburn.css">

<!--[if lt IE 9]>
<script src="/assets/lib/js/html5shiv.js"></script>
<![endif]-->