.aboutme_main section > img {
    position: absolute;
    max-width: 100%;
    opacity: 0.6;
}

.aboutme_main .page {
    position: relative;
    font-size: 28pt;
    width: 80%;
    margin-left:15%;
    margin-top: 25%;
    z-index: 3;
}