@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    font-size: 200%;
}

.main-page {
  padding: 100px 0px;
}

.index-logo {
  text-align: center;
}

.page {
  width: 600px;
  margin: 0 auto;
}

.nav-items {
  margin: 20px auto;
  text-align: center;
  border-bottom: 5px double #bcbcbc;
}

.nav-items a {
  font-size: 150%;
}

.link-resource {
  text-align: center;
  padding-top: 50px;
}
.link-resource a{
    padding: 0 25px;
    text-decoration: none;
}

.articles {
  margin: 0 auto;
}

.articles article {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}
.about {
  font-size: 120%;
}
.about p{
  line-height: 1.8em;
  margin: 50px auto;
}

.footer-note {
  width: 600px;
  border-top: 1px solid #e5e5e5;
  margin: 30px auto;
  padding-top: 20px;
}
