<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 
<html><!--<![endif]-->
	<head>
	{% include head.html %}
	</head>

	<body>

		{% include chrome-frame.html %}

		{% include navigation.html %}

		<div id="wrap">
			<div class="container">
				<div class="row">
					<div class="span4">
						{% include author-bio.html %}
					</div> <!-- span4 -->
					
					<div class="span8">
						<div class="page-header">
						<a href="{{ site.url}}/articles" class="btn btn-link pull-right">View all articles</a>
						<h2>Latest Articles</h2>
						</div>
						{% for post in site.categories.articles limit:5 %}    
						<article >
							<h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
							<p >{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 80 }}{% endif %}</p>
						</article>
						{% endfor %}
					</div> <!-- span8 -->
				</div> <!-- row -->
			</div> <!-- contain -->
		</div><!-- wrap -->

		<div id="footer">
			<div class="container">
				{% include footer.html %}
			</div> <!-- container -->
		</div><!-- footer -->

		{% include scripts.html %}
	  
	</body>
</html>