<!doctype html>
<html>
	<head>
	{% include head.html %}
	</head>

	<body>


	{% include chrome-frame.html %}

	<div class="container">
		<div class="page">
			{% include navigation.html %}
				<article>
					<div class="pull-right">
						<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
					</div>
					<div class="page-header">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.tagline }}</h3>
					</div><!-- page-header -->

					<div class="article">
					  {{ content }}
					  <footer  class="muted credit">
						<div>Tag:{% for tag in page.tags %} 
							<span class="label label-default">#{{ tag }}</span>
							{% endfor %}
						</div>
					  </footer>
				</article>

				{% include disqus.html %}
		</div>
	</div>
	
	<div id="footer">
  		<div class="footer-note">
    		{% include footer.html %}
  		</div>
	</div>

	{% include scripts.html %}	        

	</body>
</html>
